<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>服务器首页</title>
		<link rel="stylesheet" type="text/css" href="css/theAll.css" />
		<link rel="stylesheet" type="text/css" href="index.css" />
		<script src="ajax.js"></script>
		<script src="myJs/vue.js"></script>
		<script>
			window.onload=function(){
				new Vue({
					el:"#mainBody",
					data:{
						aside_test_canShow:false,
						aside_test_show:[
							{name:"用户信息表(Vue)",url:"textspace/userInfoList-demo/userInfoList.html"},
							{name:"百度搜索接口测试--vue",url:"textspace/search-demo/search-demo.html"},
							{name:"form表单H5实例",url:"textspace/form-demo/form-demo.html"},
							{name:"轮播效果",url:"textspace/flash_Pic/flash_Pic.html"},
							{name:"网易大作业",url:"endspace/wy-endTest/hom.html"}
						],
						aside_test_none:[
							{name:"cookie",url:"textspace/cookie-demo/cookie.html"},
							{name:"正则表达式",url:"textspace/regexp-demo/regexp.html"},
							{name:"关于Table的BOM操作",url:"textspace/table-demo/tableDemo.html"},
							{name:"ajax读取文件练习",url:"textspace/ajax-demo/read.html"},
							{name:"ajax读取文件练习2",url:"textspace/ajax-demo/myajax.html"}
						],
						demoBox:[
							{name:"网易大作业",url:"endspace/wy-endTest/hom.html",imageUrl:"images/demo_wy-endTest.jpg"},
							{name:"五子棋",url:"endspace/five_win/five.html",imageUrl:"images/demo_five.jpg"},
							{name:"贪吃蛇",url:"endspace/snack/snack.html",imageUrl:"images/demo_snack.jpg"},
							{name:"一个跑酷游戏？",url:"endspace/jump-jump-1.1/jump-jump.html",imageUrl:""},
							{name:"计算器",url:"endspace/counter/counter.html",imageUrl:"images/demo-counter.jpg"},
							{name:"3D效果初探",url:"endspace/css3-demo1/css3-demo1.html",imageUrl:"images/demo_css3-demo1.png"},
							{name:"打怪升级",url:"endspace/lvGame/index.html",imageUrl:"images/demo_lve.jpg"},
						]
					},
					methods:{
						aside_test_changeShow1:function(){
							this.aside_test_canShow=true;
						},
						aside_test_changeShow2:function(){
							this.aside_test_canShow=false;
						}
					}
				});
				
			demoBoxJs();  //demo盒子自移动
			someClickEvent();
			
			function someClickEvent(){
				
				var a=document.getElementById("assas");
				a.onclick=function(){
					alert("真是一段让人不堪回首的往事");
				}
			}

			aNewWindowOpen();        //a标签在新窗口打开
			
			function aNewWindowOpen(){
				var aAll=document.getElementsByTagName("a");
				checkA(aAll);
				
				function checkA(all){
					for(var i=0;i<all.length;i++){
						if (all[i].href!="") {
							all[i].target="_blank";
						}
					}
				}
			}

			function demoBoxJs() {    //展示区js效果
				var demoBox = document.getElementsByClassName("demoBox")[0]; //最外层盒子
				var demo_Div = demoBox.getElementsByClassName("demo_Div")[0]; //存放demo的运动盒子
				var demo = demo_Div.getElementsByClassName("demo"); //demo数组

				var demoLength = demo.length;
				var timer = null; //定时器
				for(var i = 0; i < demoLength; i++) { //复制demo
					var addDiv = document.createElement("div");
					addDiv.innerHTML = demo[i].innerHTML;
					addDiv.className = "demo";
					demo_Div.appendChild(addDiv);
				}

				timer = setInterval(move, 30);

				demo_Div.onmouseover = function() { //鼠标移入停止运动
					clearInterval(timer);
				};

				demo_Div.onmouseout = function() { //鼠标移出继续运动
					timer = setInterval(move, 30);
				};

				function move() {
					if(demo_Div.offsetLeft < -736) {
						demo_Div.style.left = 0;
					}
					demo_Div.style.left = demo_Div.offsetLeft - 1 + "px";
				}
			}
				
			}
		</script>
	</head>

	<body>
		<!--header-->
		<header>
			<div class="index_Title">
				<h1>肖小波的个人网页</h1>
			</div>
		</header>

		<!--demo-->
		<div id="mainBody" class="w1205 fn-clear">
			<!--aside-->
			<aside class="fn-left aside_test">
				<div class="aside_test_title">
					<h2>练习区<a id="aside_test_none_show" @mouseover="aside_test_changeShow1()" @mouseout="aside_test_changeShow2()">更多&gt;&gt;</a></h2>
				</div>

				<ul>
					<li v-for="value in aside_test_show">
						<a :href="value.url">{{value.name}}</a>
					</li>
				</ul>

				<ul id="aside_test_none" class="aside_test_none" v-show="aside_test_canShow" @mouseover="aside_test_changeShow1()" @mouseout="aside_test_changeShow2()">
					<li v-for="value in aside_test_none">
						<a :href="value.url">{{value.name}}</a>
					</li>
				</ul>

			</aside>

			<!--article-->
			<article id="demoBox" class="fn-left demoBox">
				<div class="fn-clear demo_Div">
					<div class="demo" v-for="value in demoBox">
						<a :href="value.url"><img :src="value.imageUrl" /></a>
						<a :href="value.url">{{value.name}}</a>
					</div>
				</div>
			</article>

		</div>

		<div class="endTest w1205">
			<a id="assas" style="cursor: pointer;">毕设纪念处</a>
		</div>

		<script>
			
		</script>
	</body>

</html>