*{
	box-sizing: border-box;
}
.box{
	width: 1600px;
	height: 900px;
	border: 1px solid #ccc;
	margin:0 auto;
	overflow: hidden;
	position: relative;
}
.box .world{
	position: absolute;
	left: -500px;
	width: 2000px;
	height: 100%;
}
.box .earth{
	height: 100%;
	background: yellow;
	float: left;
	box-sizing: content-box;
}

.mainBody{
	width: 50px;
	height: 100px;
	background: lightblue;
	position: absolute;
	left: 600px;
	top: 0;
}
.checkPercent{
	position: absolute;
	font-size: 48px;
	filter: alpha(opacity: 30);
	opacity: 0.3;
	font-weight: bold;
	top: 0;
	left: 0;
}
